<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Welcome {{user.name}}</h2>

    <p> age: {{user.age}} </p>
    <p>height: {{user.height}} </p>
    <P>weight: {{user.weight}}</P>

    <form method="POST" action="{{url_for('update', id=user.id)}}">
        <input type="number" name="updateweight" placeholder="update weight">
        <input type="submit" placeholder="submit">
    </form>

    <p>date: {{user.date}} </p>

    <form method="POST" action="{{url_for('delete', id=user.id)}}">
        <button type="submit">Delete account</button>
    </form>

    <h2>ADD EXPENSES</h2>

    <form method="POST" action="{{ url_for('add_expense') }}">
        <input type="text" name="title" placeholder="Expense title" required>
        <input type="number" name="amount" placeholder="Amount" required>
        <button type="submit">Add</button>
    </form>

    <h3>Your Expenses</h3>

    {% for expense in expenses %}
    <p>
        {{ expense.title }} - rs{{ expense.amount }}
        <form method="POST" action="{{ url_for('updateexpense', id=expense.id) }}">
            <input type="text" name="edit_title" placeholder="exp title edit" required>
            <input type="number" name="edit_expense" placeholder="exp edit">
            <button type="submit">Edit</button> 
        </form>
    </p>
    {% endfor %}
    
    <p><a href="{{ url_for('home')}}">Logout</a></p>

</body>
</html>